/****** Add By Designer Start ******/

html,
body {
  height: 100%;
  font-size:0.94rem;
}

.main-wrapper{
  width:100%;
}

.form-group{
  position:relative;
}
.form-control{
  -webkit-border-radius: 0.375rem !important;
  border-radius: 0.375rem !important;
}

.forgot-pass a{
  font-size:0.75rem;
}

.datepicker table tr td,
.datepicker table tr th{
  display:table-cell;
}

.bg-secondary{
  background:#2d394d !important;
}
.no-bg{
  background:none !important;
}

.text-primary{color:#4ba3f3;display:inline-block;vertical-align:middle;}
.text-secondary{color:#2d394d;display:inline-block;vertical-align:middle;}
.text-success{color:#17c671;display:inline-block;vertical-align:middle;}
.text-danger{color:#c4183c;display:inline-block;vertical-align:middle;}
.text-info{color:#4ba3f3;display:inline-block;vertical-align:middle;}
.text-light{color:#e9ecef;display:inline-block;vertical-align:middle;}
.text-dark{color:#212529;display:inline-block;vertical-align:middle;}

/* Toggle */
.custom-toggle .custom-control-indicator:after{
  background:#ea5876;
}
.custom-toggle .custom-control-indicator{
  background:#f6b2c0;
  border-color:#e52a51;
}
.custom-toggle{
  margin-top:-5px;
}

table.table-sorting:focus{
  outline:none;
}
.table-sorting-um th:last-child.sorting_asc:before,
.table-sorting-um th:last-child.sorting_asc:after,
.table-sorting-um th:last-child.sorting:before,
.table-sorting-um th:last-child.sorting:after{
  display:none !important;
}
.recent-vehicles > div{
  outline:none; 
}

/* calender input */
.input-group-addon:not(:last-child) {
    border-right: 0 none;
}
.form-control + .input-group-addon:not(:first-child){
  border-left:0 none;
}
.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn, .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:last-child) > .btn-group > .btn, .input-group-btn:not(:last-child) > .dropdown-toggle{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.input-group .form-control:not(:first-child), .input-group-addon:not(:first-child), .input-group-btn:not(:first-child) > .btn, .input-group-btn:not(:first-child) > .btn-group > .btn, .input-group-btn:not(:first-child) > .dropdown-toggle, .input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn, .input-group-btn:not(:last-child) > .btn:not(:first-child){
  border-top-left-radius:0;
  border-bottom-left-radius:0;
}

/* Custom Calender */
.daterangepicker .ranges li{
  background:#e9ecef;
  border-color:#e9ecef;
  color:#3b4651;
  padding:0.75rem 1.25rem;
  line-height:1.1;
}
.daterangepicker .ranges li:hover{
  background:#dadfe4;
  border-color:#e9ecef;
  color:#3b4651;
}
.daterangepicker .ranges li.active{
  background:#19a5fa;
  color:#fff;
}
.range_inputs button{
  font-size:13px;
}
.range_inputs button:hover{
  -webkit-box-shadow:none;
  box-shadow:none;
}
.daterangepicker.dropdown-menu{
  padding:15px;
}
.daterangepicker .daterangepicker_input i{
  top:12px;
}
.daterangepicker .daterangepicker_input .input-mini{
  display:inherit;
  height:auto;
  line-height:1.125rem;
  margin:0;
  padding:0.664rem 1rem 0.664rem 28px;
}
.daterangepicker .input-mini.active{
  border:#007bff solid 1px;
}
.daterangepicker td.available:hover,
.daterangepicker th.available:hover{
  -webkit-border-radius:40px;
  border-radius:40px;
}
.daterangepicker td.available.in-range:hover,
.daterangepicker th.available.in-range:hover{
  -webkit-border-radius:0;
  border-radius:0;
}
.daterangepicker td.active.available:hover,
.daterangepicker th.active.available:hover{
  -webkit-border-radius:40px 0 0 40px;
  border-radius:40px 0 0 40px;
}

.daterangepicker td.active.end-date.available:hover,
.daterangepicker th.active.end-date.available:hover{
  -webkit-border-radius:0 40px 40px 0;
  border-radius:0 40px 40px 0;
}
.daterangepicker td, .daterangepicker th{
  width:30px;
  height:30px;
}
.daterangepicker .calendar th{
  font-weight:500;
  min-width:30px;
}
.daterangepicker .calendar td{
  min-width:30px;
  font-weight:300;
  text-align:center !important;
  display:table-cell;
}
.daterangepicker td.start-date{
  -webkit-border-radius:40px 0 0 40px;
  border-radius:40px 0 0 40px;
}
.daterangepicker td.end-date{
  -webkit-border-radius:0 40px 40px 0;
  border-radius:0 40px 40px 0;
}
.daterangepicker td.active,
.daterangepicker td.active:hover{
  background:#007bff;   
}
.daterangepicker td.active.end-date.available{
  background:#007bff;
}
.daterangepicker td.in-range,
.daterangepicker td.today.in-range{
  background:#007bff;
  color:#fff;
}

/* Pagination */
.pagination li{
  -webkit-box-shadow:none;
  box-shadow:none;
}
.pagination li a{
  border:1px solid #dee2e6 !important;
  margin-left:-1px;
}
.page-item:first-child .page-link{
  border-bottom-left-radius:0.375rem;
  border-top-left-radius:0.375rem;
}
.page-item:last-child .page-link{ 
  border-bottom-right-radius:0.375rem;
  border-top-right-radius:0.375rem;    
}



/* Table */
.table .thead-light th{
  background-color:#e9ecef;
}
.table-hover tbody tr:hover{
  background:#f9fafb; 
}
th,
td {
 
  text-align: left;
}
th {
  vertical-align: bottom;
}
td::before {
  display: none;
}


@media screen and (max-width: 767px) {
  tr:nth-child(even) {
    background-color:#fff;
  }
  tr:nth-child(odd) {
    background-color:#f5f7fa;
  }
  thead th,
  thead tr:first-of-type {
    display: none;
  }
  td::before {
    display: inline;
    font-weight: bold;
  }
  tr{
    margin-bottom:2rem;
  }
  td {
    display: grid;
    grid-template-columns:10em auto;
    grid-gap:0.5em 0em;
  }
  td:nth-of-type(3) {
    text-align: left;
  }
  td:nth-of-type(4),
  td:nth-of-type(5) {
    text-align: left !important;
  }
  td:nth-of-type(4)::before, td:nth-of-type(5)::before {
    text-align: left;
  }
  td:nth-of-type(2)::before {
    font-style: normal;
  }
}
@media screen and (max-width: 380px){
  td {
    display: grid;
    grid-template-columns:100%;
    grid-gap: 0.4em 0em;
  }
}

@media print {
  body {
    font-size: 6pt;
    color: #000;
    background-color: #fff;
    background-image: none;
  }
  body,
  main {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: none;
  }
  table {
    page-break-inside: avoid;
  }
  div {
    overflow: visible;
  }
  th {
    color: #000;
    background-color: #fff;
    border-bottom: 1pt solid #000;
  }
  tr {
    border-top: 1pt solid #000;
  }
}

@media print and (max-width: 5in) {
  caption {
    color: #000;
    background-color: #fff;
    border-bottom: 1pt solid #000;
  }
  table {
    page-break-inside: auto;
  }
  tr {
    page-break-inside: avoid;
  }
}


/* Autocomplete */
.typeahead.dropdown-menu{
  width:100%;
  padding:0;
}
.form-control.typeahead{
  padding-right:2rem;
}


/* Tab */
.nav-tabs{
  border-color:transparent;
}
.nav-tabs .nav-link{
  font-size:0.9rem;
}
.nav-tabs .nav-link:hover{
  border-color:transparent;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  border-color:transparent;
  -webkit-box-shadow:0 -5px 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow:0 -5px 10px 0 rgba(0, 0, 0, 0.05);
}
.nav-tabs .nav-item{
  margin-bottom:-1px;
}
.tab-content .tab-pane{
  padding:0;
}



/* Navbar */
.hd-logo{
  padding:12px 26px;
  display:inline-block;
}
.hd-search{
  position:relative;
}
.hd-search .form-control{
  min-width:300px;
  padding-right:2rem;
}
.button-search{
  cursor:pointer;
  color:#8994a6;
  position:absolute;
  padding:0;
  background:none;
  border:none;
  right:10px;
  top:7px;
}
.user-menu button{
  padding:0;
  background:none;
  border:none;
  position:relative;
}
.user-menu .btn-secondary:hover,
.user-menu .btn-secondary:active,
.user-menu .btn-secondary.active,
.user-menu .btn-secondary.dropdown-toggle{
  -webkit-box-shadow:none !important;
  box-shadow:none !important;
  background:none;
}
.user-menu .dropdown-toggle:after{
  position:absolute;
  bottom:6px;
  top:auto;
  left:27px;
  border-left:0.25em solid rgba(0, 0, 0, 0);
  border-right:0.25em solid rgba(0, 0, 0, 0);
  border-top:0.25em solid;
}
.user-menu .dropdown-toggle:before{
  content:'';
  position:absolute;
  background:#15a4fa;
  width:16px;
  height:16px;
  -webkit-border-radius:100%;
  border-radius:100%;
  left:26px;
  bottom:0;
}
.user-menu .dropdown-menu{
  right:47px;
  left:auto;
}
.help-icon{
  display:inline-block;
  vertical-align:middle;
  color:#ffb600;
  margin:0 1rem;
  font-size:22px;
}
.help-icon:hover,
.help-icon:active{
  color:#ffb600;
}
.navbar-light .navbar-toggler{
  margin-right:1.6rem;
}

/* Siderbar */
.mobile-menu-left-overlay {
  background: rgba(48, 75, 88, 0.5) none repeat scroll 0 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
#sidebar-wrapper li.active a:before,
#sidebar-wrapper li a:hover:before{
  content:'';
  width:5px;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background:#40b4fb;
}
#sidebar-wrapper li a{
  position:relative;
  color:#6d788b;
  font-size:13px;
  text-transform:uppercase;
  font-weight:600;
  padding:1.3rem 1.3rem 1.3rem 1.6rem;
}
#sidebar-wrapper li a:hover,
#sidebar-wrapper li.active a i{
  color:#19a5fa;
}
#sidebar-wrapper li a i{
  margin-right:0.6rem;
  font-size:20px;
  display:inline-block;
  vertical-align:middle;
  width:25px;
}
.sidebar{
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  -webkit-box-shadow:0px 0px 50px rgba(0, 0, 0, 0.1);
  box-shadow:0px 0px 50px rgba(0, 0, 0, 0.1);
  z-index:1030;
  padding:0 !important;
  height:100%;
  overflow-x:hidden;
  overflow-y:auto; 
}
.sidebar-sticky{
  padding-top:0;
}
.event-details ul{
  padding:0;
}
.event-details h5{
  color:#1798e7;
}
.event-details ul li{
  list-style:none;
  font-size:12px;
}
.event-details ul li span{
  float:left;
  width:100px;
}
.event-details ul li p{
  display:block;
  overflow:hidden;
  margin:0 0 0.2rem 0;
}


/* Content Part */
.content-block{
  width:100%;
  padding-top:80px;
}
.yellow-color{
  color:#ffb600;
  font-size:20px;
}
.top-title p i{
  vertical-align:sub;
  margin-right:0.3rem;
}
.top-title h1{
  display: inline-block;
  margin-right:0.6rem;
}
.top-title p:last-child{
  margin:0;
}
.top-icons button{
  -webkit-border-radius:100%;
  border-radius:100%;
  width:47px;
  height:47px;
  padding:0;
  margin-left:2px;
}
.top-icons button i{
  color:#fff;
  font-size:18px;
}
.top-icons button.btn-white i{
  color:#8994a6;
}
.content-block .bg-white,
.content-block .bg-primary{
  height:100%;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
  box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
  overflow:hidden;
}
.content-block .bg-white .d-flex{
  min-height:38px;
}
.content-block h2{
  font-size:1.13rem;
  margin-right:auto;
}
.recent-vehicles table{
  margin-bottom:0.7rem;
}
.recent-vehicles table td{
  border-top:none;
  border-bottom:1px solid #dee2e6;
}
.recent-vehicles table th:last-child,
.recent-vehicles table td:last-child{
  text-align:right;
}
.recent-vehicles table.active-log th:last-child,
.recent-vehicles table.active-log td:last-child{
  text-align:left !important;
}
.recent-vehicles table tr:last-child td{
  border-bottom:none;
}
td.right-icons a.text-danger{
  line-height:0;
}


/*** Activity Log Page Start ***/

.active-log tbody tr.log-read{
  background:#f5f7fa !important;
}
.log-read a{
  color:#5a6169;
}
.active-log tbody tr{
  cursor:pointer;
  background:#fff;
}
#table-block tr:last-child td{
  border-bottom:1px solid #dee2e6;
}
#table-block tbody tr:nth-child(even) {
  background-color:#fafbfc;
}
#table-block tbody tr:nth-child(odd) {
  background-color:#fff;
}
/*** Activity Log Page End ***/


/*** Login Page Start ***/
.signin{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-signin{
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .bg-white{
  -webkit-border-radius:8px;
  border-radius:8px;
  -webkit-box-shadow:0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow:0 0 50px rgba(0, 0, 0, 0.1);
}
.signin .form-group label{
  padding-top:0;
}
/*** Login Page End ***/



/*** Event Detail Page Start ***/
.title-overview li:first-child{
  padding-top:0;
  -webkit-border-radius:0;
  border-radius:0;
  border:none;
  border-bottom:1px solid rgba(0, 0, 0, 0.125) !important;
}
.title-overview li:last-child{
  padding-bottom:0;
  -webkit-border-radius:0;
  border-radius:0;
}
.bg-primary .title-overview li.list-group-item{
  border:none !important;
  font-size:1.2rem !important;
  padding:0.40rem 1.25rem;
}
.bg-primary .title-overview li.list-group-item i{
  font-size:14px;
}
.dark-blue{
  height:100%;
  background:#3797ef;
  -webkit-border-radius:0 0 0.375rem 0.375rem;
  border-radius:0 0 0.375rem 0.375rem;
}
.custom-breadcrumb .breadcrumb-item a{
  font-size:1rem;
}
.custom-list-horizhontal{
  padding:0;
}
.custom-list-horizhontal li{
  display:inline-block;
  font-size:1rem;
  margin-right:1rem;
  position:relative;
}
.custom-list-horizhontal li:after{
  content:'';
  position:absolute;
  width:2px;
  height:100%;
  background:#c0c1cc;
  right:-10px;
}
.custom-list-horizhontal li:last-child{
  margin:0;
}
.custom-list-horizhontal li:last-child:after{
  display:none;
}
#eventreplay .modal-dialog.modal-lg{
  max-width:80%
}
/*** Event Detail Page End ***/


/*** Media Queris ***/

@media (max-width: 1600px) {
  
  .event-details ul li span{
    width:100%;
  }
  .event-details ul li p{
    width:100%;
    margin-bottom:0.5rem;
  }

}

@media (max-width: 1199px) {

  /* Input */
  .form-control{
    font-size:0.9rem;
  }

  .navbar-collapse{
    /*flex-grow:0;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

}


@media (max-width: 991px) {

  .hd-logo{
    width:auto;
    padding:12px 15px;
    left: calc(50% - 90px);
    position: fixed;
    top: 0;
  }
  .navbar-light{
    min-height:72px;
  }
  .navbar-light .navbar-toggler{
    margin-right:auto;
  }
  .navbar-light .navbar-collapse{
    margin-left:auto;
    margin-right:15px;
    display:inline-block;
    flex-basis:auto;
  }
  .hd-search{
    margin-left:0 !important;
    margin-right:8px !important;
    display:inline-block;
  }
  .hd-search .form-control{
    max-width:100%;
    min-width:inherit;
  }
  .navbar-light .navbar-collapse .dropdown{
    margin-right:0;
    margin-left:auto;
    display:inline-block;
    padding:0 !important;
  }
  .user-menu .dropdown-menu{
    right:0;
  }
  .sidebar-sticky {
    padding-top: 72px;
  }


  /* Sidebar Menu */
  .navbar-toggler{
    cursor:pointer;
  }
  #sidebar-wrapper{
    z-index:4;
    left:-250px;
    width:250px;
    max-width:250px;
    -webkit-transition:all 0.4s ease-in-out 0s;
    -moz-transition:all 0.4s ease-in-out 0s;
    -ms-transition:all 0.4s ease-in-out 0s;
    -o-transition:all 0.4s ease-in-out 0s;
    transition:all 0.4s ease-in-out 0s;
  }
  .menu-left-opened #sidebar-wrapper{
    left: 0;
  }
  .menu-left-opened #sidebar-wrapper ul{
  }
  .menu-left-opened .mobile-menu-left-overlay {
    display: block;
  }


  /* Content Block */
  .content-block > .col-lg-10{  
    padding:15px 15px 0 15px !important;
  }
  .top-title-block .top-title{
    margin-bottom:0;
  }

}

@media (max-width: 767px){

  .top-title-block .top-title{
    margin-bottom:1rem;
  }
  .top-title h1{
    display:block;
    line-height:1.5rem;
  }
  .recent-vehicles td.right-icons:last-child{
    text-align:left !important;
    display:block;
  }

  .hd-search{
    display:none;
  }

  body.signin{
    padding:0;
    align-items:start;
  }

}

@media (max-width: 479px) {
  
}


/****** Add By Designer End ******/